/* Theme: Default */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* General vars */
    --font-family: 'Roboto', sans-serif;
    --background-color: #f8f9fa; 
    --text-color: #343a40; 
    --hover-background-color: #e9ecef;
    
    /* Tab vars */
    --tab-button-background-color: #6c757d; 
    --tab-button-color: #fff; 
    --tab-button-hover-background-color: #495057; 
    --tab-active-background-color: #343a40; 
    --tab-border-color: #dee2e6; 
    
    /* Form and btns vars */
    --form-border-color: #ced4da; 
    --button-background-color: #6c757d; 
    --button-color: #fff; 
    --button-hover-opacity: 0.85; 
    --input-background-color: #ffffff; 

    /* Audio vars */
    --audio-shadow-color: rgba(52, 58, 64, 0.2); 
    --audio-controls-color: #495057; 
}

