/* Theme: Dark */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* General vars */
    --font-family: 'Montserrat', sans-serif;
    --background-color: #121212; 
    --text-color: #e0e0e0; 
    --hover-background-color: #1e1e1e; 
    
    /* Tab vars */
    --tab-button-background-color: #333333; 
    --tab-button-color: #e0e0e0; 
    --tab-button-hover-background-color: #444444; 
    --tab-active-background-color: #555555;
    --tab-border-color: #222222; 
    
    /* Form and btns vars */
    --form-border-color: #333333;
    --button-background-color: #444444;
    --button-color: #e0e0e0;
    --button-hover-opacity: 0.85; 
    --input-background-color: #1e1e1e; 
    
    /* Audio vars */
    --audio-shadow-color: rgba(34, 34, 34, 0.5);
    --audio-controls-color: #e0e0e0; 
}
